---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---


<DefaultLayout>

  <form
    class="container"
    action="https://formspree.io/f/mdknebkz"
    method="POST"
  >

    <section class="dark:text-white relative">
      <div class="absolute inset-0">
        <div style="width: 100%">
          <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                  src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Region%20del%20Biobio,%20Chile+()&amp;t=&amp;z=8&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        </div>

      </div>
      <div class="container px-5 py-24 mx-auto flex">
        <div
          class="lg:w-1/3 md:w-1/2 bg-white dark:bg-slate-800 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 drop-shadow-lg">
          <h2 class="text-gray-900 text-lg mb-1 font-medium title-font dark:text-white">Contacto</h2>

          <div class="relative mb-4">

            <label for="nombre" class="leading-7 text-sm text-gray-600 dark:text-gray-300">Su Nombre</label>
            <input type="text" id="nombre" name="nombre"
                   required
                   class="w-full bg-white rounded border border-gray-300 focus:border-cyan-500 focus:ring-2 focus:ring-cyan-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>

          <div class="relative mb-4">

            <label for="email" class="leading-7 text-sm text-gray-600 dark:text-gray-300">Su Email</label>
            <input type="email" id="email" name="email"
                   required
                   placeholder="ejemplo@email.com"
                   class="w-full bg-white rounded border border-gray-300 focus:border-cyan-500 focus:ring-2 focus:ring-cyan-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="phone-number" class="leading-7 text-sm text-gray-600">Su teléfono</label>
            <input type="text" id="phone-number" name="phone-number"
                   required
                   placeholder="+56 9 1234 5678"
                   class="w-full bg-white rounded border border-gray-300 focus:border-cyan-500 focus:ring-2 focus:ring-cyan-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="message" class="leading-7 text-sm text-gray-600">Mensaje</label>
            <textarea id="message" name="message"
                      required
                      placeholder="Incluya aquí la información que estime pertinente. Los detalles podrán conversarse en la reunión."
                      class="w-full bg-white rounded border border-gray-300 focus:border-cyan-500 focus:ring-2 focus:ring-cyan-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
          </div>
          <div class="flex justify-between">
            <button
              type="reset"
              class="text-slate-500 bg-slate-100 border-0 py-2 px-6 focus:outline-none hover:bg-slate-300 rounded text-lg">
              Limpiar
            </button>
            <button
              type="submit"
              class="text-white bg-blue-600 border-0 py-2 px-6 focus:outline-none hover:bg-blue-900 rounded text-lg">
              Enviar
            </button>
          </div>
          <p class="text-xs text-gray-500 dark:text-gray-300 mt-3">Nos pondremos en contacto con usted a la
            brevedad.</p>
        </div>
      </div>
    </section>
  </form>


</DefaultLayout>
