---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---


<DefaultLayout>

  <form
    class="container"
    action="https://formspree.io/f/mdknebkz"
    method="POST"
  >

    <section class="text-gray-600 body-font relative">
      <div class="absolute inset-0 bg-gray-300">
        <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no"
                src="https://www.google.com/maps/@-36.824759,-73.0523336,15z?width=100%&height=600&hl=es&ie=UTF8&t=&z=14&iwloc=B&output=embed"
                style=""></iframe>
      </div>
      <div class="container px-5 py-24 mx-auto flex">
        <div
          class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
          <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Contacto</h2>
          <p class="leading-relaxed mb-5 text-gray-600">Gracias por su preferencia. A continuación proporcione la
            información necesaria para tomar contacto con usted</p>
          <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm text-gray-600">Su Email</label>
            <input type="email" id="email" name="email"
                   placeholder="ejemplo@email.com"
                   class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="phone-number" class="leading-7 text-sm text-gray-600">Su teléfono</label>
            <input type="text" id="phone-number" name="phone-number"
                   placeholder="+56 9 1234 5678"
                   class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="message" class="leading-7 text-sm text-gray-600">Mensaje</label>
            <textarea id="message" name="message"
                      placeholder="Incluya aquí la información que estime pertinente. Los detalles podrán conversarse en la reunión."
                      class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
          </div>
          <button
            class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
            Enviar
          </button>
          <p class="text-xs text-gray-500 mt-3">Nos pondremos en contacto con usted a la brevedad.</p>
        </div>
      </div>
    </section>
  </form>


</DefaultLayout>
